<footer class="site-footer mdl-mini-footer">
    <ul>
        <li class="mdl-mini-footer--social-btn">
            <a href="https://github.com/mattak" class="social-btn social-btn__github" role="button" title="Github"></a>
        </li>
        <li class="mdl-mini-footer--social-btn">
            <a href="https://twitter.com/mustankatti" class="social-btn social-btn__twitter" role="button"
               title="Twitter"></a>
        </li>
        <li class="mdl-mini-footer--social-btn">
            <a href="https://qiita.com/mattak" class="social-btn social-btn__qiita" role="button" title="Qiita"></a>
        </li>
    </ul>
</footer>
